.customHandle {
  width: 35px;
  height: 15px;
  background-color: var(--chayns-color--headline);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:after {
    content:'';
    height: 5px;
    width: 22px;
    border-width: 1px 0 1px 0;
    border-color: rgba(255, 255, 255, .5);
    border-style: solid;
  }
}

.config--wrapper {
  display: flex;
  justify-content: center;
}
