.container {
  width: 250px;
  height: 110px;
  background-color: white;
  margin-top: 40px;
  padding: 12px;
  box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 2px;
  z-index: 100;
  position: relative;

  &:before {
    content:"";
    position: absolute;
    height: 0;
    width: 0;
    left: 111px;
    top: -28px; /* 1px buffer for zooming problems while rendering */
    border-width: 15px;
    border-color: transparent transparent white transparent;
    border-style: solid;
  }
}

.container--mobile {
  width: 250px;
  height: 110px;
  background-color: white;
  margin-top: 40px;
  padding: 12px;
  box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 2px;
  z-index: 100;
  position: relative;

  &:before {
    content:"";
    position: absolute;
    height: 0;
    width: 0;
    left: 111px;
    top: -28px; /* 1px buffer for zooming problems while rendering*/
    border-width: 15px;
    border-color: transparent transparent white transparent;
    border-style: solid;
  }
}

.container-inside {
  width: 250px;
  height: 110px;
  background-color: white;
  padding: 12px;
  box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 2px;
  z-index: 100;
  position: relative;

  &:before {
    content:"";
    position: absolute;
    height: 0;
    width: 0;
    left: 111px;
    bottom: -28px; /* 1px buffer for zooming problems while rendering*/
    border-width: 15px;
    border-color: white transparent transparent transparent;
    border-style: solid;
  }
}

.container-inside--mobile {
  width: 250px;
  height: 110px;
  background-color: white;
  padding: 12px;
  box-shadow: 3px 1px 8px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 2px;
  z-index: 100;
  position: relative;

  &:before {
    content:"";
    position: absolute;
    height: 0;
    width: 0;
    left: 111px;
    bottom: -28px; /* 1px buffer for zooming problems while rendering*/
    border-width: 15px;
    border-color: white transparent transparent transparent;
    border-style: solid;
  }
}

.wrapper {
  display: flex;
  align-items: center;

  .input-wrapper {
    display: flex;
    justify-content: space-between;

    p {
      margin-top: 7.5px;
    }

    .input--box {
      width: 50% !important;
      padding: 0 10px !important;
      min-height: 30px;
    }
  }

  .upper-link--left {
    background-color: darkgrey;
    margin-left: 10px;
    height: 1px;
    width: 6px;
  }

  .upper-link--bottom {
    background-color: darkgrey;
    width: 1px;
    height: 12px;
    margin-left: 15px;
    margin-bottom: 2px;
  }

  .lower-link--top {
    background-color: darkgrey;
    width: 1px;
    height: 12px;
    margin-left: 15px;
    margin-top: 2px;
  }

  .lower-link--left {
    background-color: darkgrey;
    margin-left: 10px;
    height: 1px;
    width: 6px;
  }

  .icon {
    margin-left: 11px;

    &:hover {
      cursor: pointer;
    }
  }
}
